extends layout

block content
  h1= 'ログイン'
  form(method="post" action="tablet/user/login")
    p ユーザー名：
     input(type="text" name="loginId")
     br
    p パスワード：
     input(type="text" name="password")
     br
    input(type="submit" name="送信")

  h1= 'BDNドラフト一覧'
  form(method="post" action="tablet/bdn_draft/search")
    p 本船名：
     input(type="text" name="shipNm")
     br
    p 補油港：
     input(type="text" name="portNm")
     br
    p 開始日：
     input(type="text" name="deliveryDateFrom")
     br
    p 終了日：
     input(type="text" name="deliveryDateTo")
     br
    p バージ船ID：
     input(type="text" name="bargeBoatId")
     br
    input(type="submit" name="送信")
 
  h1= '補油実績照会一覧'
  form(method="post" action="tablet/bdn/search")
    p 本船名：
     input(type="text" name="shipNm")
     br
    p 補油港：
     input(type="text" name="portNm")
     br
    p 開始日：
     input(type="text" name="deliveryDateFrom")
     br
    p 終了日：
     input(type="text" name="deliveryDateTo")
     br
    p バージ船ID：
     input(type="text" name="bargeBoatId")
     br
    input(type="submit" name="送信")
  
  h1= '補油実績登録'
  form(method="post" action="tablet/bdn")
    p BDN No.：
     input(type="text" name="bdnNo")
     br
    input(type="submit" name="送信")
    p ※ BDN No.は、「10000000001」「10000000002」「10000000003」が成功。それ以外は失敗になります。
    p    BDN No.に。「*」を指定した場合、複数一致エラーが返ります。

  h1= '補油実績照会'
  p: a(href="tablet/bdn?bdnNo=10000000001" target="_blank") BDN No.10000000001
  p: a(href="tablet/bdn?bdnNo=10000000002" target="_blank") BDN No.10000000002
  p: a(href="tablet/bdn?bdnNo=10000000003" target="_blank") BDN No.10000000003
  p: a(href="tablet/bdn?bdnNo=B211S-00018" target="_blank") BDN No.B211S-00018
  p: a(href="tablet/bdn?bdnNo=B211S-00028" target="_blank") BDN No.B211S-00028
  p: a(href="tablet/bdn?bdnNo=B211S-00038" target="_blank") BDN No.B211S-00038
  p: a(href="tablet/bdn?bdnNo=*" target="_blank") BDN No.*

  h1= 'バージ船マスタ'
  form(method="post" action="tablet/barge_boat/search")
    input(type="submit" name="送信")
